<h2>会員一覧</h2>

<div class="col-9">
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th scope = "col">会員ID</th>
            <th scope = "col">氏名</th>
            <th scope = "col">メールアドレス</th>
            <th scope = "col">会員ステータス</th>
        </tr>
    </thead>

    <tbody>
      <% @customer.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_active %>
            有効
          <% else %>
            退会
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
</div>